.App {
  height: 100vh;
}
.link_div {
  text-align: center;
  margin-top: 10px;
}

.form_div {
  margin-top: 10%;
  display: flex;
}

.form {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #445760;
  padding: 25px;
  border-radius: 15px;
}

.form label {
  color: azure;
}

.form .input {
  margin-top: 10px;
}

.ant-radio-group,
.ant-picker {
  margin-left: 10px;
}

.form p {
  color: #f84b36;
  font-size: 0.75em;
}











